.table {
    width: 100%;
    margin-top: 50px;
    background: #fff;
    letter-spacing: 0.1em;
    border-radius: 10px;
}

.staff-table {
    width: 100%;
    margin-top: 95px;
    background: #fff;
    letter-spacing: 0.1em;
    border-radius: 10px;
}

.table__inner {
    width: 100%;
}

.table__row {
    border-bottom: 2px solid #e1e1e1;
    color: #737373;
    font-size: 16px;
    font-weight: bold;
}

.table__row:last-child {
    border-bottom-width: 0;
}

.table__header {
    padding: 5px 40px;
    height: 31px;
    border-bottom: 3px solid #e1e1e1;
}

.table__header--date {
    padding: 5px 40px;
    height: 31px;
    text-align: left;
    border-bottom: 3px solid #e1e1e1;
}

.table__header--name {
    padding: 5px 40px;
    height: 31px;
    width: 25%;
    border-bottom: 3px solid #e1e1e1;
}

.request-table__header {
    padding: 5px 15px;
    width: 17%;
    height: 31px;
    text-align: left;
    border-bottom: 3px solid #e1e1e1;
}

.staff-table__header {
    padding: 5px;
    height: 31px;
    border-bottom: 3px solid #e1e1e1;
}

.staff-table__header:first-child,
.staff-table__data:first-child {
    padding-left: 80px;
}

.staff-table__header:last-child,
.staff-table__data:last-child {
    padding-right: 70px;
}

.table__data,
.staff-table__data {
    padding: 5px;
    height: 33px;
}

.table__data--date {
    padding: 5px;
    padding-left: 40px;
    height: 33px;
    text-align: left;
}

.table__data--name {
    padding: 5px;
    height: 33px;
    width: 25%;
}

.request-table__data {
    padding: 5px 15px;
    width: 17%;
    height: 33px;
    text-align: left;
}

.request-table__header:first-child,
.request-table__data:first-child {
    padding-left: 50px;
}

.request-table__header:last-child,
.request-table__data:last-child {
    padding-right: 70px;
}

.staff-table__header:first-child,
.staff-table__data:first-child,
.staff-table__header:last-child,
.staff-table__data:last-child {
    width: 30%;
}


.table__link {
    text-decoration: none;
    color: #000;
}

.table__link--disabled {
    text-decoration: none;
    color: #000;
    pointer-events: none;
    cursor: default;
}

.attendance__export-button {
    display: block;
    padding: 9px;
    margin: 55px 0 0 auto;
    text-decoration: none;
    width: 184px;
    height: 54px;
    background: #000;
    border: none;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
}

@media screen and (min-width:768px) and (max-width: 850px) {
    .table {
        margin-top: 40px;
    }

    .staff-table {
        margin-top: 60px;
    }

    .table__header,
    .table__header--date,
    .table__header--name,
    .table__data--date,
    .table__data--name {
        padding: 5px 25px;
    }

    .staff-table__header:first-child,
    .staff-table__data:first-child {
        padding-left: 50px;
    }

    .staff-table__header:last-child,
    .staff-table__data:last-child {
        padding-right: 40px;
    }

    .request-table__header,
    .request-table__data {
        width: 18%;
        padding: 5px;
    }

    .request-table__header:first-child,
    .request-table__data:first-child {
        padding-left: 20px;
    }

    .request-table__header:last-child,
    .request-table__data:last-child {
        padding-right: 10px;
    }

    .attendance__export-button {
        padding: 6px;
        width: 140px;
        height: 45px;
        font-size: 20px;
    }
}