.table {
    width: 100%;
    margin-top: 50px;
    background: #fff;
    letter-spacing: 0.1em;
    border-radius: 10px;
}

.table__inner {
    width: 100%;
}

.table__row {
    border-bottom: 2px solid #e1e1e1;
    color: #737373;
    font-size: 16px;
    font-weight: bold;
}

.table__row:last-child {
    border-bottom-width: 0;
}

.table__header {
    padding: 5px 30px;
    height: 31px;
}

.request-table__header {
    padding: 5px 30px;
    height: 31px;
    text-align: left;
}

.table__header {
    border-bottom: 3px solid #e1e1e1;
}

.request-table__header {
    border-bottom: 3px solid #e1e1e1;
}

.table__data {
    padding: 5px;
    height: 33px;
}

.request-table__data {
    padding: 5px 30px;
    height: 33px;
    text-align: left;
}

.table__link {
    text-decoration: none;
    color: #000;
}

.table__link--disabled {
    text-decoration: none;
    color: #000;
    pointer-events: none;
    cursor: default;
}

@media screen and (min-width:768px) and (max-width: 850px) {
    .table {
        margin-top: 40px;
    }

    .table__header {
        padding: 5px 20px;
    }
}